.profile__separator {
  height: 1px;
  width: 100%;
  background-color: #424242;
  grid-column: span 2;
}

.profile__submit-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 220px;
}