.techs {
  padding: 100px 0;
}

.techs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.techs__item-header {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 0;
  padding-top: 90px;
  letter-spacing: -2px;
}

.techs__item-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding-top: 26px;
  letter-spacing: -0.56px;
  max-width: 460px;
}

.techs__table {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 100px 0 0;
  margin: 0;
  justify-content: center;
  grid-gap: 10px;
  padding-inline-start: 0;
}

.techs__table-block {
  width: 90px;
  height: 60px;
  background-color: #303030;
  border-radius: 10px;
}

.techs__table-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: -0.56px;
  margin-top: 21px;
}

@media screen and (max-width: 1100px) {
  .techs {
    padding: 92px 20px;
  }

  .techs__item-header {
    padding-top: 80px;
  }

  .techs__item-info {
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
    max-width: 460px;
    letter-spacing: -0.48px;
  }

  .techs__table {
    padding: 83px 10px 0;
  }

  .techs__table-text {
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.48px;
  }

  .techs__table-block {
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 400px) {
  .techs {
    padding: 69px 4px;
  }

  .techs>.main-section__header {
    border-bottom: 1px solid #000;
  }

  .techs__item-header {
    padding-top: 60px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__item-info {
    font-size: 11px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: -0.44px;
    padding-top: 22px;
  }

  .techs__table {
    display: grid;
    grid-template-columns: 84px 84px;
    padding: 50px 0 0;
  }
}