.login__submit-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-top: 127px;
}

@media screen and (max-width: 410px) {
  .login__submit-section {
    padding-top: 216px;
  }
}